<template name="main">
    <div class="span9">

        <div id="alert-area"></div>

        {{#if any_client_selected}}
            <p class="lead"><strong>{{client_symbol}}:</strong> {{client_name}}</p>

            <h5>Account type: {{client_type}}</h5>

            <ul class="nav nav-tabs" id="myTab">
                <li class="assets-tab active">
                    <a href="#assets-tab-data">Assets</a>
                </li>
                <li class="transactions-tab">
                    <a href="#client-transactions-tab-data">Transactions</a>
                </li>
                {{#if isAdmin}}
                    <li class="admin-tab">
                        <a href="#admin-tab-data">Admin</a>
                    </li>
                {{/if}}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="assets-tab-data">
                    {{> assets_tab}}
                </div>
                <div class="tab-pane" id="client-transactions-tab-data">
                    {{> transactions_tab}}
                </div>
                {{#if isAdmin}}
                    <div class="tab-pane" id="admin-tab-data">
                        {{> admin_tab}}
                    </div>
                {{/if}}
            </div>
        {{/if}}

        {{#if stocks_selected}}
            <h3>Stocks</h3>

            <table class="table table-condensed table-hover table-bordered" id="stocks-table">
                <thead>
                    <tr>
                        <th>Symbol</th><th>Name</th><th>Last Trade</th><th>Previous Close</th><th>Exchange</th><th>Currency</th>
                        {{#if isAdmin}}
                            <th style="width: 20px"></th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each stocks}}
                        {{> stock}}
                    {{/each}}
                </tbody>
            </table>
            
            {{#if isAdmin}}
                <a href="#" class="pull-right text-warning" id="add-unlisted-dialog"><small>Add unlisted stock...</small></a>

                {{#if unlisted_dialog}}
                <div class="well">
                    <p><input type="text" class="input-medium" id="new_unlisted_symbol" placeholder="STOCK CODE"/></p>
                    <p><input type="text" class="input-large" id="new_unlisted_name" placeholder="STOCK NAME"/></p>
                    <p><input type="text" class="input-large" id="new_unlisted_currency" placeholder="STOCK CURRENCY"/></p>
                    <p><input type="text" class="input-large" id="new_unlisted_last" placeholder="LAST TRADE PRICE"/></p>
                    <p><input type="submit" class="btn btn-primary" id="add-unlisted-btn" value="Add Unlisted Stock"/></p>
                </div>
                {{/if}}
                
                {{#unless unlisted_dialog}}
                <div class="input-append">
                    <input type="text" class="input-small" id="stock-symbol" placeholder="RTKM.ME"/>
                    <input type="submit" class="btn btn-primary" id="add-stock-btn" value="Add"/>
                </div>
                {{/unless}}
            {{/if}}
        {{/if}}

        {{#if fx_selected}}
            <h3>FX</h3>

            <table class="table table-condensed table-hover table-bordered" id="fx-table">
                <thead>
                    <tr>
                        <th>Symbol</th><th>Last Trade</th>
                        {{#if isAdmin}}
                            <th style="width: 20px"></th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each fx}}
                        {{> fxpair}}
                    {{/each}}
                </tbody>
            </table>
            {{#if isAdmin}}
                <div class="input-append">
                    <input type="text" class="input-medium" id="fxpair-symbol" placeholder="CHFUSD or CHF"/>
                    <input type="submit" class="btn btn-primary" id="add-fxpair-btn" value="Add"/>
                </div>
            {{/if}}
        {{/if}}

        {{#if funds_selected}}
            <h3>Funds</h3>

            <table class="table table-condensed table-hover table-bordered" id="fx-table">
                <thead>
                    <tr>
                        <th>Symbol</th><th>Name</th><th>Shares</th><th>Last Trade, USD</th><th>Mkt Value, USD</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each funds}}
                        {{> fund}}
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        {{#if transactions_selected}}
            {{> client_chooser}}

            <label>Account: </label>

            <select class="account-select">
                {{#each t_assets}}
                    <option>{{symbol}}</option>
              {{/each}}
            </select>

            <label>Comment:</label>
            <input type="text" class="input-xlarge" id="transaction-comment" placeholder="Say few words about the transaction"/>

            <label>Amount:</label>

            <div class="input-append">
                <input type="text" class="input-medium" id="transaction-amount" placeholder="-1000"/>
                <input type="submit" class="btn btn-primary" id="add-transaction-btn" value="Execute"/>
                <input type="submit" class="btn btn-danger" id="rollback-transaction" value="Rollback"/>
            </div>

            <h4>Transactions</h4>

            <table class="table table-bordered table-condesed table-hover">
                <thead>
                    <tr>
                        <th>Date</th><th>Client</th><th>Account</th><th>Amount</th><th>Balance</th><th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        {{> transaction}}
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</template>
