<template name="sidebar">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">
                CLIENTS & FUNDS
            </li>
            {{#each clients}}
                <li class="client {{selected_client}}">
                    <a href="/{{_id}}">{{symbol}}</a>
                </li>
            {{/each}}
            <li class="nav-header">
                TRANSACTIONS
            </li>
            <li class="transactions {{transactions_selected}}">
                <a href="/transactions">Transactions Manager</a>
            </li>
            <li class="nav-header">
                INSTRUMENTS & MARKET DATA
            </li>
            <li class="stocks {{stocks_selected}}">
                <a href="/stocks">Stocks</a>
            </li>
            <li class="fx {{fx_selected}}">
                <a href="/fx">FX</a>
            </li>
            <li class="funds {{funds_selected}}">
                <a href="/funds">Funds</a>
            </li>
            <li class="nav-header">
                ADMIN
            </li>
            <li class="add-new-client {{add_new_client_selected}}">
                <a href="#">Add new client</a>
            </li>
            {{#if add_new_client_selected}}
                <p></p><p><input type="text" class="input-medium" id="new_client_symbol" placeholder="CLIENT CODE"/>
                <input type="text" class="input-large" id="new_client_name" placeholder="CLIENT NAME"/>
                <input type="submit" class="btn btn-small btn-primary" id="add-client-btn" value="Add"/></p>
            {{/if}}
            <li class="add-new-fund {{add_new_fund_selected}}">
                <a href="#">Add new fund</a>
            </li>
            {{#if add_new_fund_selected}}
                <p></p><p><input type="text" class="input-medium" id="new_fund_symbol" placeholder="FUND CODE"/>
                <input type="text" class="input-large" id="new_fund_name" placeholder="FUND NAME"/>
                <input type="submit" class="btn btn-small btn-primary" id="add-fund-btn" value="Add"/></p>
            {{/if}}
        </ul>
    </div>
</template>